.Footer {
  display: flex;
  justify-content: center;
}
.FooterGeneral {
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}
.FooterGeneral_Logo img {
  height: 100%;
  width: 100%;
}
.FooterGeneral_Logo{
  height: 50%;
}
.FooterGeneral_Logo a{
  width: 100%;
  height: 100%;
}
.FooterGeneral_Navs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.FooterGeneral a {
  font-family: "San Francisco";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;

  color: #ffffff;
}
.FooterGeneral_Navs a {
  padding-right: 10%;
}
.FooterGeneral_Navs a:last-child {
  padding-right: 0%;
}
@media (max-width: 730px) {
  .FooterGeneral {
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-around;
  }
  .FooterGeneral_Logo{
    width: 50%;
  }
}
@media (orientation: portrait) {
  .FooterGeneral {
    width: 96%;

    justify-content: space-around;
  }
}
