.HeaderGeneral {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.HeaderGeneral a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  opacity: 0.8;
  color: #000000;
    display: block;
    white-space:nowrap;
}
.HeaderNav_Registration{
  background: #7876E6;
  border-radius: 15px;
  color: white !important;
  padding-left: 26px;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-right: 26px;

}
.Header {
  display: flex;
  justify-content: center;
}
.HeaderGeneral_Navs a:hover {
  opacity: 1;
}
.HeaderGeneral_Navs a:active {
  opacity: 1;
}
.Headerlogo_Elem img {
  height: 80%;
}
.HeaderGeneral_Navs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.HeaderGeneral_Navs a {
  margin-right: 10%;
}
.HeaderGeneral_Navs a:last-child {
  padding-right: 0%;
}
.HeaderGeneral_Logo {
}
.HeaderGeneral_Burger {
  position: relative !important;
}
.HeaderGeneral_Burger {
  display: none;
}
.HeaderGeneral_Title {
  display: none;
}

@media (max-width: 1920px) {
  .HeaderGeneral {
    width: 80%;
  }
}
@media (orientation: portrait) {
  .HeaderGeneral_Title {
    display: block;
    font-family: "San Francisco";
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
  }
  .HeaderGeneral {
    width: 96%;
  }
  .HeaderGeneral_Navs {
    display: none;
  }
  .HeaderGeneral_Burger {
    display: flex;
    flex-direction: column;
  }
}
