.HeaderGeneral {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.HeaderGeneral a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  opacity: 0.8;
  color: #000000;
  display: block;
  white-space: nowrap;
}
.HeaderNav_Registration {
  background: #7876e6;
  border-radius: 15px;
  color: white !important;
  padding-left: 26px;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-right: 26px;
  box-shadow: inset 0px -1.45px 0.29px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4.15px 4.15px rgba(0, 0, 0, 0.15));
}
.Header {
  display: flex;
  justify-content: center;
}
.HeaderGeneral_Navs a:hover {
  opacity: 1;
}
.HeaderGeneral_Navs a:active {
  opacity: 1;
}
.Headerlogo_Elem img {
  height: 80%;
}
.HeaderGeneral_Navs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 100%;
}
.HeaderGeneral_Navs a {
  margin-right: 1em;
}
.HeaderGeneral_Navs a:last-child {
  padding-right: 0%;
}
.HeaderGeneral_Logo {
}
.HeaderGeneral_Burger {
  position: relative !important;
}
.HeaderGeneral_Burger {
  display: none;
}
.HeaderGeneral_Title {
  display: none;
}
.HeaderNav_User {
  font-family: "Inter" !important ;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  color: white !important;
  padding-top: 5px !important;
  padding-bottom: 8px !important;
  padding-left: 23px !important;
  padding-right: 23px !important;
  background: #7876e6 !important;
  border-radius: 15px !important;
  box-shadow: inset 0px -1.45px 0.29px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4.15px 4.15px rgba(0, 0, 0, 0.15));
}
.HeaderNav_Picture {
  background: #ffffff;
  box-shadow: 0px 4.15001px 4.15001px rgba(0, 0, 0, 0.15),
    inset 0px -1.44768px 2.89536px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.HeaderNav_Picture img {
  padding: 9px !important;
  padding-right: 8px !important;
  padding-top: 8px !important;
}
@media (max-width: 1920px) {
  .HeaderGeneral {
    width: 80%;
  }
}
@media (orientation: portrait) {
  .HeaderGeneral_Title {
    display: block;
    font-family: "San Francisco";
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
  }
  .HeaderGeneral {
    width: 96%;
  }
  .HeaderGeneral_Navs {
    /* display: none; */
  }
  .HeaderGeneral_Burger {
    display: flex;
    flex-direction: column;
  }
}
