.HeaderGeneral {
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: space-between;
  background: #222222;
  padding-left: 20%;
  padding-right: 20%;
}
.HeaderGeneral a {
  font-family: "San Francisco";
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  text-decoration: none;
  opacity: .8;
  color: #ffffff;
  display: block;
}
.HeaderGeneral_Navs a:hover {
 
  opacity: 1;
}
.HeaderGeneral_Navs a:active {
 
  opacity: 1;
}
.Headerlogo_Elem img {
  height: 80%;
}
.HeaderGeneral_Navs {
  display: flex;

  justify-content: flex-end;
}
.HeaderGeneral_Navs a {
  padding-right: 10%;
}
.HeaderGeneral_Navs a:last-child {
  padding-right: 0%;
}
.HeaderGeneral_Logo {
}
.HeaderGeneral_Burger {
  position: relative !important;
}
.HeaderGeneral_Burger {
  display: none;
}

@media (orientation: portrait) {
  .HeaderGeneral {
    padding-left: 2%;
    padding-right: 2%;
  }
  .HeaderGeneral_Navs {
    display: none;
  }
  .HeaderGeneral_Burger {
    display: flex;
    flex-direction: column;
  }
}
