.HomeTop {
  height: 380px;
  width: 100%;
  background: rgba(34, 34, 34, 0.1);
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  align-items: center;
}
.HomeTopPicture {
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.HomeTopInfo {
  height: 100%;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.HomeTopPicture img {
  height: 100%;
  max-width: 100%;
}
.HomeTopPicture {
  max-height: 300px;
  display: flex;
  justify-content: center;
}
.HomeTopInfo {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 0.2fr 0.6fr 0.2fr;
  align-items: center;
}
.HomeTopInfo_JobAndName {
  font-family: "IM FELL English";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  display: flex;

  color: #000000;
}
.HomeTopInfo_JobAndName_Name {
  padding-right: 30px;
}
.HomeTopInfo_ShortDescription {
  height: 100%;
  font-family: "San Francisco";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  opacity: 0.8;
  color: #000000;
}
.HomeTopInfo_SocialNetworks {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}
.HomeTopInfo_SocialNetworks_Network {
  font-family: "San Francisco";
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: white;
  background-color: #222222;
  background-clip: border-box;
  margin-right: 2vw;
  margin-bottom: 1vw;
  border-radius: 8px;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
