.Home{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.Home_VeryPeople{
    width: 100%;
    height: 60px;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: #000000;
padding-bottom: 40px;
}
.Home_VeryPeople_Past{
    width: 100%;
    height: 60px;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: #000000;
padding-top: 40px;
}