.HomeTop {
  /* height: 380px; */
  width: 100%;
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  align-items: start;
  margin-top: 1em;
  background: rgba(120, 118, 230, 0.18);
  backdrop-filter: blur(7.5px);
  /* Note: backdrop-filter has minimal browser support */
  padding: 1em;
padding-right: 0;
  border-radius: 15px 15px 0px 0px;
}
.HomeTopPicture {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.HomeTopInfo {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.HomeTopPicture img {
  height: 100%;
  max-width: 100%;
  border-radius: 10px;
}
.HomeTopPicture {
  max-height: 300px;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
}
.HomeTopInfo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.HomeTopInfo_JobAndName {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  color: white;
  font-size: 1.4rem;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HomeTopInfo_JobAndName_Name {
  padding-right: 30px;
  color: #000000;
}
.HomeTopInfo_JobAndName_Job {
  background: #7876e6;
  border-radius: 8.41667px 0px 0px 8.41667px;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 0.3rem;
}
.HomeTopInfo_ShortDescription {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  height: 100%;

  text-decoration: none;
  opacity: 0.8;
  color: #000000;
}
.HomeTopInfo_SocialNetworks {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.HomeTopInfo_SocialNetworks_Network {
  font-family: "Inter";
  font-weight: 600;
  font-size: 1rem;
  line-height: 26px;
  text-decoration: none;
  color: white;
  background-color: #7876e6;
  opacity: 0.8;
  background-clip: border-box;
  margin-right: 2vw;
  border-radius: 8px;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
