body{
    margin: 0;
    padding: 0;
}
.App_Actual{
    padding-left: 20%;
    padding-right: 20%;
}
.App{

 background-color: beige;
}
@media (max-width: 730px) {
    .App_Actual{
        padding-left: 2%;
        padding-right: 2%;
    }
  }
@media (orientation: portrait){
    .App_Actual{
        padding-left: 2%;
        padding-right: 2%;
       }
}